
.page-image-text-image .is-style-style_01 {
    position: relative;
    height: 60vh;
    width: 100%;
    .wrap-flex{
        display: grid;
        height: 100%;
        gap: 15px;
		padding: 15px;
        grid-template-columns: repeat(14, 3fr);
		grid-template-rows: repeat(1, 1fr);

        .item-left{
            grid-column: 1 / 7;
            display: flex;
			align-items: flex-start;
			justify-content: flex-start;
        }

        .iteme-center{
            grid-column: 6 / 10;
            display: flex;
			align-items: center;
            flex-direction: column;
			justify-content: center;
            .content-text{
                padding: 20px;
                background-color: var(--wp--preset--color--area);
            }
            .headline h2{
                background: #fff;
                color: #000;
                padding: 0.5rem 1rem 0rem 1rem;
                display: inline-block;
                margin-top: 0;
                margin-bottom: 0.5rem;
                background-color: var(--wp--preset--color--area);
            }
        }

        .item-right{
            grid-column: 9 / 15;
            display: flex;
			align-items: flex-end;
			justify-content: flex-start;
        }
    }

    .overlay{
        top: 0;
        position: absolute;
    }


    @media (max-width: 992px){
        .wrap-flex{
            grid-template-columns: repeat(12, 3fr);
            grid-template-rows: repeat(2, 1fr); 

            .item-left{
                grid-column: 1 / 7;
                grid-row: 1;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
            }

            .iteme-center{
                grid-column: 1 / 13;
                grid-row: 2;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: flex-start;
            }

            .item-right{
                grid-column: 7 / 13;
                grid-row: 1;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
            }
        }

        @media (max-width: 576px) { 
            .wrap-flex{
                grid-template-rows: repeat(2, 1fr); 
    
                .item-left{
                    grid-column: 1 / 13;
                    grid-row: 1;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
    
                .iteme-center{
                    grid-column: 1 / 13;
                    grid-row: 3;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: flex-start;
                    .content-text{
                        background-color: var(--wp--preset--color--area);
                    }
                }
    
                .item-right{
                    grid-column: 1 / 13;
                    grid-row: 2;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
            }
            .overlay{
                display: block;
                position: relative;
            }
        }

        .overlay{
            bottom: 0;
        }

    }
}




.page-image-text-image .is-style-style_02 {
    position: relative;
    height: 60vh;
    width: 100%;
    .wrap-flex{
        display: grid;
        height: 100%;
        gap: 15px;
		padding: 15px;
        grid-template-columns: repeat(14, 3fr);
		grid-template-rows: repeat(1, 1fr);

        .item-left{
            grid-column: 1 / 7;
            display: flex;
			align-items: flex-end;
			justify-content: flex-start;
        }

        .iteme-center{
            grid-column: 6 / 10;
            display: flex;
			align-items: center;
            flex-direction: column;
			justify-content: center;
            .content-text{
                padding: 20px;
                background-color: var(--wp--preset--color--area);
            }
            .headline h2{
                background: #fff;
                color: #000;
                padding: 0.5rem 1rem 0rem 1rem;
                display: inline-block;
                margin-top: 0;
                margin-bottom: 0.5rem;
                background-color: var(--wp--preset--color--area);
            }
        }

        .item-right{
            grid-column: 9 / 15;
            display: flex;
			align-items: flex-start;
			justify-content: flex-start;
        }
    }

    .overlay{
        top: 0;
        position: absolute;
    }


    @media (max-width: 992px){
        .wrap-flex{
            grid-template-columns: repeat(12, 3fr);
            grid-template-rows: repeat(2, 1fr); 

            .item-left{
                grid-column: 1 / 7;
                grid-row: 1;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
            }

            .iteme-center{
                grid-column: 1 / 13;
                grid-row: 2;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: flex-start;
            }

            .item-right{
                grid-column: 7 / 13;
                grid-row: 1;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
            }
        }

        @media (max-width: 576px) { 
            .wrap-flex{
                grid-template-rows: repeat(2, 1fr); 
    
                .item-left{
                    grid-column: 1 / 13;
                    grid-row: 1;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
    
                .iteme-center{
                    grid-column: 1 / 13;
                    grid-row: 3;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: flex-start;
                    .content-text{
                        background-color: var(--wp--preset--color--area);
                    }
                }
    
                .item-right{
                    grid-column: 1 / 13;
                    grid-row: 2;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
            }
            .overlay{
                display: block;
                position: relative;
            }
        }

        .overlay{
            bottom: 0;
        }

    }
}

@media (max-width: 992px) {
    .page-image-text-image .is-style-style_01{
        height: 100%;
    }
}





// .page_image_text_image-sec {
//     padding: 100px 0;
// }

// .page_image_text_image-box {
//     display: flex;
//     margin-bottom: 30px;

//     .page_image_text_image-wp {
//         flex: 1;

//         .page_image_text_image-img {
//             width: 100%;
//             padding-bottom: 90%;
//             background-size: cover;
//             background-position: center;
//         }

//         &.builder_icon_right_img {
//             display: flex;
//             align-items: flex-end;

//             .page_image_text_image-img {
//                 --right: 60px;
//                 flex: 0 0 calc(100% + var(--right));
//             }
//         }

//         &.builder_icon_left_img {
//             display: flex;
//             align-items: flex-start;
//             justify-content: right;

//             .page_image_text_image-img {
//                 --right: 120px;
//                 flex: 0 0 calc(100% + var(--right));
//             }
//         }
//     }

//     .procedures_box_wp {
//         flex: 0 0 40%;
//         margin: 90px 0 60px;
//     }

//     &.is-style-style_02 {
//         .page_image_text_image-wp {
//             &.builder_icon_right_img {
//                 align-items: flex-start;
//             }

//             &.builder_icon_left_img {
//                 align-items: flex-end;
//             }
//         }
//     }
// }

// .procedures_box_wp {
//     .procedures_box-main-title-wp {
//         max-width: 280px;
//         margin-bottom: 30px;

//         .procedures_box-main-title {
//             margin-top: 0;
//             padding: 6px 10px;
//             text-transform: uppercase;
//             font-weight: 600;
//             display: inline;
//             background-color: #ffffff;
//             box-shadow: 0px 1px 0 3px #ffffff, 3px 1px 0 3px #ffffff;
//             -webkit-box-decoration-break: clone;
//             box-decoration-break: clone;
//             max-width: 350px;
//             word-break: break-all;
//             position: relative;
//             left: 3px;
//             font-size: clamp(16px, 2.5vw, 1.5rem);
//             transition: 0.3s;
//             color: #000;
//         }
//     }

//     .procedures_box-content {
//         .procedures_box-sub_title {
//             color: $tertiary;
//             margin-bottom: 15px;

//             &:after {
//                 display: none;
//             }
//         }

//         .procedures-overview {
//             text-align: right;
//             margin-top: 10px;
//             .contact-cta {
//                 display: inline-flex;
//                 padding: 0 30px;
//                 width: auto;

//                 a {
//                     font-size: 18px;
//                 }
//             }
//         }
//     }
// }
