
.page-image-text {
    
    padding-top: var(--wp--preset--spacing--50);
    padding-left: var(--wp--preset--spacing--50);
    padding-bottom: var(--wp--preset--spacing--50);
  

    /*Style 1 Top*/
    .has-align-text-left {
        &.is-style-style_01{
            .grid_wrap{
                display: grid;
                width: 100%;
                grid-template-columns: repeat(12, 1fr);
            }
            .underlay, .overlay{
                grid-row: 1/2;
            }
            .underlay{
                grid-column: 1 / 8;
            }
            .overlay{
                grid-column: 7 / -1;
                margin-top: 8.33%;
                align-self: flex-start;
            }   
            .wrapper-button{
                display: flex;
                flex-direction: row-reverse;
                .btn-imge-text{
                    margin-top: 4rem;
                }
            }
        }
    }

   .has-align-text-right{
        &.is-style-style_01{
            .grid_wrap{
                display: grid;
                width: 100%;
                grid-template-columns: repeat(12, 1fr);
            }
            .underlay, .overlay{
                grid-row: 1/2;
            }
            .underlay{
                grid-column: 7 / -1;
            }
            .overlay{
                grid-column: 1 / 8;
                margin-top: 8.33%;
                align-self: flex-start;
            } 
            .wrapper-button{
                display: flex;
                flex-direction: row;
                .btn-imge-text{
                    margin-top: 4rem;
                }
            }  
        }
    }

   
    .wrapper-content{
        padding: 2rem;
        z-index: 2;
        .headline{
            margin-top: 0;
            font-size: 2.5rem;
            display: inline-block;
            margin-bottom: 2rem;
            padding: 0.5rem 1rem 0rem 1rem;
            background-color: var(--wp--preset--color--area);
            font-weight: 300;
            color: var(--wp--preset--color--black);
        }
        .content{
            h1,h2,h3,h4,h5,h6{
                margin: 0 0 20px;
                color: var(--wp--preset--color--primary);
            }
            padding: 4rem;
            background-color: var(--wp--preset--color--area);
        }
    }

    /*Style 2 center*/
    .has-align-text-right {
        &.is-style-style_02{
            .grid_wrap{
                display: grid;
                width: 100%;
                grid-template-columns: repeat(12, 1fr);
            }
            .underlay, .overlay{
                grid-row: 1/2;
            }
            .underlay{
                grid-column: 1 / 8;
            }
            .overlay{
                grid-column: 7 / -1;
                align-self: center;
            }

            .wrapper-button{
                display: flex;
                flex-direction: row;
                .btn-imge-text{
                    margin-top: 4rem;
                }
            }
    
            @media (max-width: 991px) {
                .grid_wrap{
                    display: grid;
                    width: 100%;
                    min-height: 50vh;
                    grid-template-columns: repeat(1, 1fr); 
                }
                .underlay, .overlay{
                    grid-row: 2;
                }
                .underlay{
                    grid-row: auto / 1;                
                }
                .overlay{
                    grid-row: auto / 2;
                }
            }
        }
    }

    .has-align-text-left {
        &.is-style-style_02{
            .grid_wrap{
                display: grid;
                width: 100%;
                grid-template-columns: repeat(12, 1fr);
            }
            .underlay, .overlay{
                grid-row: 1/2;
            }
            .underlay{
                grid-column: 7 / -1;            
            }
            .overlay{
                grid-column: 1 / 8;
                align-self: center;
            }

            .wrapper-button{
                display: flex;
                flex-direction: row-reverse;
                .btn-imge-text{
                    margin-top: 4rem;
                }
            }
    
            @media (max-width: 991px) {
                .grid_wrap{
                    display: grid;
                    width: 100%;
                    grid-template-columns: repeat(1, 1fr); 
                }
                .underlay, .overlay{
                    grid-row: 2;
                }
                .underlay{
                    grid-row: auto / 1;                
                }
                .overlay{
                    grid-row: auto / 2;
                }
            }
        }
    }

}

