<div class="wp-block-columns alignwide">
    <div class="container-xxl">
        <!-- wp:haertha/header-menu /-->
    </div>
</div>

<div class="news_page_slider_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="h1_title">News</h1>
                <!-- wp:acf/news-slider {"id":"block_5376fd7a-9a64-471b-918f-60983a938d17","name":"acf/news-slider"}  /-->
            </div>
        </div>
    </div>
</div>

<div class="container-full" style="position: relative; margin-top: 100px">
    <!-- wp:acf/news-archive {"id":"block_5376fd7a-9a64-471b-918f-60983a938d17","name":"acf/news-archive"}  /-->
</div>

<div class="container-fluid">
    <!-- wp:haertha/footer-menu /-->
</div>

