
<div class="wp-block-columns alignwide">
  <div class="container-xxl">
    <!-- wp:haertha/header-menu /-->
  </div>
</div>

<div class="wp-block-columns alignwide">
  <div class="container-xxl">
    <div class="fix-content">
        <!-- wp:haertha/sidebar-verfahren /-->
    </div> 
  </div>    
</div>   

<div class="container-xxl">
  <div class="row main-content">
    <div class="col-12 col-lg-4 ">
      <div class="sidebar-wrapper">
        <nav id="nav-id" class="sidebarmenu">
          <div class="wrapper-dropdown">
            <span class="dropdown-sidebar">Inhalt</span>
            <span class="dropdown-icon">#</span>
          </div>
            <ol>

            </ol>
        </nav>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="wrapper-proceedings">

       <!-- wp:post-content /-->
       <a id="button"></a>
      </div>
    </div>
  </div>
</div>

<div class="container-full" style="background-color: var(--wp--preset--color--base); position: relative;">
  <!-- wp:acf/verfahren-werkstofftabelle {"id":"block_cfd93914-b77b-499e-aaf4-ad7f0886d477","name":"acf/verfahren-werkstofftabelle"}  /-->
</div>


<div class="container-full" style="background-color: var(--wp--preset--color--area); position: relative;">
    <!-- wp:acf/proceedings-contact {"id":"block_667cbda4-6dee-435e-a301-228cd1ad925a","name":"acf/proceedings-contact"}  /-->
</div>    


<div class="container-fluid">
  <!-- wp:haertha/footer-menu /-->
</div>


